<%- include('başlık.ejs', {bot, user, path}) %>

<!-- HEADER -->
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

  <div class="container">
	  <div class="jumbotron" style="background-color:#2C2F33">
      <center>
      <center><h3 style="color:#fff">En iyi Discord Sunucusunu oluşturun!</h3></center>
<br><center><h6 style="color:lightgrey">Kullanımı en kolay komutlarıyla, Sunucunuzu çok daha fazlası ile yapılandırın! ARTIK YÖNETİM PANELİ İLE!</h6></center>
        <br> 
        <center>   <a style="background-color: #000; padding: 20px; border-radius: 40px;" href="https://discordapp.com/oauth2/authorize?client_id=630273610438934534&scope=bot&permissions=2146958847" class="site-btn"><b style="color:#fff"><i class="fa fa-plus fa-plus" aria-hidden="true"></i> Sunucuya Ekle</b></a></center>

      
      <% if(!user) { %>
     <!-- <br><br><br><br><br><br><br>  <center>   <a style="background-color: #44b37f; padding: 20px; border-radius: 40px;" href="https://denemneneee.glitch.me/giris" class="site-btn"><b style="color:#fff">Giriş Yap</b></a></center>-->
			<% } else { %>
   
			<% if(bot.ayarlar.sahip.includes(user.id)) { %>
             <br>  <center>   <a style="background-color: #44b37f; padding: 20px; border-radius: 40px;" href="https://denemneneee.glitch.me/yonetici" class="site-btn"><b style="color:#fff"><i class="fa fa-key fa-fw" aria-hidden="true"></i>Yönetici Paneli</b></a></center>
		 <!--	<a style="color:#fff" class="nav-link" href="/yonetici" role="button"><i class="fa fa-key fa-fw" aria-hidden="true"></i> Yönetici Paneli</a><% } %>-->
<% } %>
               
       </div>
          </div>
    
    
    
<%- include('footer.ejs', {bot, user, path}) %>
