<%- include('başlık.ejs', {bot, user, path}) %>
<div class="container">
  <div class="jumbotron" style="background-color:#2C2F33">
    <div align="center">
      <h4 style="color:#fff">MODÜLLER</h4><br>
<center>
<a href="https://top.gg/bot/630273610438934534" >
  <img src="https://top.gg/api/widget/630273610438934534.svg" alt="GEX" />
</a>
  
<!-- Bots For Discord-->
    <a href="https://botsfordiscord.com/bots/630273610438934534" >
    <img src="https://botsfordiscord.com/api/bot/630273610438934534/widget" title="Visit GEX listed on Bots for Discord!" alt="GEX's Widget Failed to Load" /></a>
        
  <!-- Divine Discord Bots-->

<a href="https://divinediscordbots.com/bot/630273610438934534">
  <img src="https://divinediscordbots.com/api/widget/630273610438934534.svg" alt="GEX"/>
</a>
  
  <!--Discord Boats-->

  <a href=" https://discord.boats/bot/630273610438934534" >
  <img src=" https://discord.boats/api/widget/630273610438934534" alt="GEX" />
</a>
</center>
        
    </div>
  </div>
</div>
    <%- include('footer.ejs', {bot, user, path}) %>
