<%- include('başlık.ejs', {bot, user, path}) %>

<center><h3 style="color:#fff">MODÜLLER</h3></center>

<center>
<br>
<a href="https://top.gg/bot/630273610438934534" >
  <img src="https://top.gg/api/widget/630273610438934534.svg" alt="GEX" />
</a>
  
<!-- Bots For Discord-->
    <a href="https://botsfordiscord.com/bots/630273610438934534" >
    <img src="https://botsfordiscord.com/api/bot/630273610438934534/widget" title="Visit GEX listed on Bots for Discord!" alt="GEX's Widget Failed to Load" /></a>
        
  <!-- Divine Discord Bots-->

<a href="https://divinediscordbots.com/bot/630273610438934534">
  <img src="https://divinediscordbots.com/api/widget/630273610438934534.svg" alt="GEX"/>
</a>
  
  <!--Discord Boats-->

  <a href=" https://discord.boats/bot/630273610438934534" >
  <img src=" https://discord.boats/api/widget/630273610438934534" alt="GEX" />
</a>
</center>
    <%- include('footer.ejs', {bot, user, path}) %>
